.c-app-header {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: fixed;
  right: 1.25rem;
  top: 1.25rem;
  z-index: 30;

  @include media-small {
    right: 2rem;
    top: 2rem;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}
