$color-light-main: #589aeb;
$color-light-secondary: #e43f5a;
$color-dark-main: #1b1b2f;
$color-dark-secondary: #162447;

$color-white: #f1f1f1;

// - String -
$color-string-highlight: lightgreen;
$color-indicator-text: $color-white;
$color-indicator-background: $color-light-main;

// - Fret -
$color-fret-primary: #eec595;
$color-fret-secondary: $color-dark-secondary;
$color-fret-circle: $color-dark-secondary;
