$color-white: #f1f1f1;
$color-green: #7eeb58;
$color-red: #e43f5a;

$color-light-main: #589aeb;
$color-light-secondary: $color-red;
$color-dark-main: #1b1b2f;
$color-dark-secondary: #162447;

// - String -
$color-string-highlight: lightgreen;
$color-indicator-text: $color-white;
$color-indicator-background: $color-light-main;

// - Fret -
$color-fret-primary: #eec595;
$color-fret-secondary: $color-dark-secondary;
$color-fret-circle: $color-dark-secondary;

// - Game -
$color-success: $color-green;
$color-fail: $color-red;
