$color-white: #f1f1f1;
$color-green: #7eeb58;
$color-red: #e43f5a;
$color-yellow: #ebd358;
$color-light-blue: #589aeb;
$color-dark-blue: #162447;

$color-light-main: $color-light-blue;
$color-light-secondary: $color-red;
$color-dark-main: #1b1b2f;
$color-dark-secondary: $color-dark-blue;

// - String -
$color-string-highlight: lightgreen;
$color-indicator-text: $color-white;
$color-indicator-background: $color-light-main;

// - Fret -
$color-fret-primary: #eec595;
$color-fret-secondary: $color-dark-secondary;
$color-fret-circle: $color-dark-secondary;

// - Game -
$color-game-ui: $color-dark-secondary;
$color-success: $color-green;
$color-fail: $color-red;
$color-score: $color-yellow;
$color-timebar: $color-yellow;
$color-timebar-background: $color-dark-main;
