.c-fret {
  border-right: 0.7rem solid $color-fret-secondary;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  background-color: $color-fret-primary;

  &__circle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 0;

    &--circle {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      background: $color-fret-circle;
      border-radius: 50%;
    }
  }
}

.c-string {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  z-index: 2;
  hr {
    border: 0.07rem solid #111;
    margin: 1rem 0;
    width: 100%;
  }
}
