.c-fretboard-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  height: 100vh;

  @include media-xsmall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-auto-flow: row;
  }

  &__active-tone {
    color: $color-light-main;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &__fretboard-adjust {
    display: flex;
    justify-content: space-between;
  }
}
