.c-game-ui {
  &__settings {
    padding: 5rem 2rem 2rem 2rem;
    color: white;

    button {
      background-color: $color-red;
      color: $color-dark-main;
      margin-top: 2rem;
      width: 100%;
    }

    &__config {
      border-radius: 0.5rem;
      margin-top: 3rem;
      padding: 2rem 1.5rem;
      background-color: $color-dark-secondary;
      &__section {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        button {
          padding: 0.1rem;
          font-size: 1rem;
          width: 1.5rem;
          margin: 0;
        }
        &__selection {
          display: flex;
          justify-content: space-between;
          width: 65%;
        }
      }
    }
  }

  &__score-ui {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    background-color: $color-game-ui;
    padding: 0rem 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;

    &__score {
      font-size: 0.7rem;
      padding-top: 1rem;
      color: $color-yellow;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
