.c-game-ui {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  right: 2rem;

  &__tone {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    &__active {
      color: $color-white;
      margin-bottom: 1rem;
      &--success {
        color: $color-success;
      }
      &--fail {
        color: $color-fail;
      }
    }
    &__asked {
      color: $color-light-blue;
    }
  }

  &__progress-ui {
    align-items: center;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;

    &__progress {
      color: $color-light-blue;
      font-size: 0.7rem;
      padding-left: 1rem;
      text-align: center;
    }
  }

  &__score {
    align-items: center;
    border-radius: 50%;
    border: solid $color-light-blue 0.5rem;
    color: $color-yellow;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-top: 3rem;
    width: 5rem;
  }
}
