$padding-small: 3.5rem;
$padding-mobile: 2rem;
.c-home {
  padding: $padding-mobile;
  display: flex;
  height: 70vh;
  flex-direction: column;

  @include media-mobile {
    padding: $padding-small;
  }

  @include media-small {
    padding: $padding-small;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  h1 {
    font-size: 2.25rem;
    color: $color-white;
  }

  &__menu-bar {
    padding: $padding-mobile;
    display: flex;
    justify-content: space-between;

    @include media-mobile {
      padding: $padding-small;
    }

    @include media-small {
      padding: $padding-small;
    }
  }

  &__user-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    @include media-small {
      height: 100%;
      width: 35vw;
    }
  }
}
