.c-string {
  @include button-type;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  z-index: 2;

  @include media-small {
    flex-direction: row;
    padding: 0rem 0.1rem 0rem 0.7rem;
  }

  &:hover {
    .line {
      border-color: lightgreen;
    }
  }

  .line {
    position: relative;
    border: none;
    margin: 0rem 0.3rem;
    width: 110%;
    transition: 0.3s;
    z-index: 0;

    &--string-6 {
      border-bottom: 3px solid #ffffff;
    }
    &--string-5 {
      border-bottom: 2.5px solid #ffffff;
    }
    &--string-4 {
      border-bottom: 2px solid #ffffff;
    }
    &--string-3 {
      border-bottom: 1.5px solid #ffffff;
    }
    &--string-2 {
      border-bottom: 1.25px solid #ffffff;
    }
    &--string-1 {
      border-bottom: 1px solid #ffffff;
    }

    @include media-small {
      border: none;
      border-left: 0.1rem solid #ffffff;
      height: 115%;
      margin: 0rem 0rem;
      width: 0;

      &--string-1 {
        border-left: 3px solid #ffffff;
      }
      &--string-2 {
        border-left: 2.5px solid #ffffff;
      }
      &--string-3 {
        border-left: 2px solid #ffffff;
      }
      &--string-4 {
        border-left: 1.5px solid #ffffff;
      }
      &--string-5 {
        border-left: 1.25px solid #ffffff;
      }
      &--string-6 {
        border-left: 1px solid #ffffff;
      }
    }
  }

  .line--shadow {
    position: relative;
    border: none;
    border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    margin-top: -0.25rem;
    transition: 0.3s;
    z-index: 0;
    filter: blur(0.2rem);

    @include media-small {
      border: none;
      border-left: 0.1rem solid rgba($color: #000000, $alpha: 0.2);
      margin-right: -0.3rem;

      height: 125%;
      width: 1rem;
    }
  }
  &__indicator {
    position: absolute;
    background-color: $color-light-secondary;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
    opacity: 1;
    transition: 0.3s;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;

    @include media-small {
      padding: 0.7rem 0.5rem;
      font-size: 1rem;
      margin-right: 0.8rem;
      width: 2.7rem;
      height: 2.7rem;
    }

    &--hidden {
      position: absolute;
      padding: 0.08rem 0.08rem;
      opacity: 0;
      transition: 0.2s;
    }
  }
}
