.c-string {
  @include button-type;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  z-index: 2;
  hr {
    border: 0.07rem solid #111;
    margin: 0.3rem 0;
    width: 100%;
    transition: 0.3s;
  }
  &:hover {
    hr {
      border-color: lightgreen;
    }
  }
}
