.c-string {
  @include button-type;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  z-index: 2;
  hr {
    border: 0.07rem solid #fff;
    margin: 0.3rem 0;
    width: 100%;
    transition: 0.3s;
  }
  &:hover {
    hr {
      border-color: lightgreen;
    }
  }

  &__indicator {
    position: absolute;
    background-color: $color-light-secondary;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
    opacity: 1;
    transition: 0.3s;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;

    &--hidden {
      position: absolute;
      padding: 0.08rem 0.08rem;
      opacity: 0;
      transition: 0.2s;
    }
  }
}
