// Variables
$fret-thickness: 0.3rem;
$fret-wideness: 2.8rem;

.c-fret {
  position: relative;

  border: 0;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  width: 65vw;
  display: grid;

  @include media-medium {
    grid-template-columns: unset;
    grid-template-rows: repeat(6, 1fr);
    //grid-template-rows: unset;
    width: auto;
  }

  &--style {
    border: 0;
    border-bottom: ($fret-thickness - 0.15rem) solid black;
    display: grid;
    background-color: $color-fret-primary;

    height: $fret-wideness;
    order: 2;

    @include media-medium {
      border: 0;
      display: initial;
      border-right: $fret-thickness solid black;
      height: $fret-wideness;
    }
  }

  &--open {
    border: 0;

    border-bottom: 1rem solid $color-fret-secondary;
    display: grid;
    height: $fret-wideness;
    order: 2;

    @include media-medium {
      border: 0;

      border: 0;
      display: inline;
      height: auto;

      background-color: black;
      border-right: 1rem solid $color-fret-secondary;

      border: 0;
      display: initial;
      border-right: $fret-thickness solid black;
      height: $fret-wideness;
    }
  }

  &__circle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 100%;
    transform: translateY(0rem);
    transform: translateX(39vw);

    @include media-medium {
      transform: translateX(3.25vw);
      height: 96%;
    }

    &--circle {
      height: 1.15rem;
      width: 1.15rem;

      margin-left: 16%;
      margin-bottom: 2%;

      background: $color-fret-circle;
      border-radius: 50%;
      position: absolute;

      @include media-medium {
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }

  &__buttons {
    flex-direction: column;

    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: none;

    @include media-medium {
      flex-direction: unset;
    }

    button {
      @include button-type;
      border-radius: 100%;
      color: $color-light-secondary;
      font-size: 1rem;
      font-weight: bold;
      padding: 0;
      background-color: $color-dark-secondary;
    }
  }

  &__fret-adjust-wrapper {
    flex-direction: row;
    grid-column-start: span 3;
    height: 100%;
    margin-top: 0rem;
    width: 80%;

    background-color: $color-dark-secondary;
    display: flex;

    z-index: 2;
    border-radius: 0.5rem;

    @include media-medium {
      grid-column-start: unset;

      flex-direction: column;
      height: 100%;
      width: 100%;
      margin-top: 1rem;
      order: 3;
    }
  }

  &__number-container {
    flex-direction: row;
    grid-column-start: span 3;
    height: 100%;
    order: 0;
    width: 100%;

    align-items: center;
    color: $color-light-secondary;
    display: flex;
    justify-content: center;

    @include media-medium {
      grid-column-start: unset;
      order: 3;
      flex-direction: column;
    }

    &__number {
      font-weight: bold;
      text-align: center;
    }
  }
}
