.c-time-bar {
  &__container {
    background-color: $color-timebar-background;
    border-radius: 1rem;
    height: 10rem;
    margin: auto;
    position: relative;
    transform-origin: bottom center;
    width: 1rem;
    z-index: 5;
  }

  &__progress {
    background-color: rgba($color: $color-timebar, $alpha: 1);
    border-radius: 5rem;
    height: 100%;
    position: relative;
    transform-origin: bottom center;
    width: 100%;
    z-index: 3;
  }
}
