// Variables
$fret-thickness: 0.3rem;
$fret-wideness: 2.8rem;

.c-fret {
  position: relative;

  border: 0;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  width: 65vw;
  display: grid;

  @include media-mobile {
    width: 40vw;
  }

  @include media-small {
    grid-template-columns: unset;
    grid-template-rows: repeat(6, 1fr);
    //grid-template-rows: unset;
    width: auto;
  }

  &--style {
    border: 0;
    border-bottom: ($fret-thickness - 0.15rem) solid black;
    display: grid;
    background-color: $color-fret-primary;

    height: $fret-wideness;
    order: 2;

    @include media-mobile {
      height: $fret-wideness + 1rem;
    }

    @include media-small {
      border: 0;
      display: initial;
      border-right: $fret-thickness solid black;
      height: $fret-wideness - 0.4rem;
    }
  }

  &--open {
    border: 0;

    border-bottom: 1rem solid $color-fret-secondary;
    display: grid;
    height: $fret-wideness;
    order: 2;

    @include media-small {
      border: 0;

      border: 0;
      display: inline;
      height: auto;

      background-color: black;
      border-right: 1rem solid $color-fret-secondary;

      border: 0;
      display: initial;
      border-right: $fret-thickness solid black;
      height: $fret-wideness - 0.4rem;
    }
  }

  &__circle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 100%;
    transform: translateY(0rem);
    transform: translateX(39vw);

    @include media-mobile {
      transform: translateX(29vw - 5vw);
    }

    @include media-small {
      transform: translateX(3.25vw);
      height: 96%;
    }

    &--circle {
      height: 1.15rem;
      width: 1.15rem;

      margin-left: 16%;
      margin-bottom: 2%;

      background: $color-fret-circle;
      border-radius: 50%;
      position: absolute;

      @include media-small {
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }
}
