.c-fretboard-view {
  &__back-button {
    @include button-type;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 3rem;
    top: 3rem;
    transform: scale(1.3);
    z-index: 5;
    transition: 0.3s;
    transform-origin: center center;

    &:hover {
      transform: scale(1.6);
    }

    @include media-mobile {
      right: 6rem;
      top: 4rem;
      transform: scale(1.6);

      &:hover {
        transform: scale(1.9);
      }
    }
  }
}
