.c-back-arrow {
  @include button-type;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 2.75rem;
  min-width: 2.75rem;
  position: relative;
  transition: transform 0.3s;
  transform-origin: center center;
  z-index: 5;

  &:hover {
    transform: scale(1.15);
  }

  @include media-mobile {
    &:hover {
      transform: scale(1.2);
    }
  }
}
